html{
    font-size: 100%;
    box-sizing: border-box;
}
*,  *::before , *::after {
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    line-height: 1.3;
    font-family: 'Poppins', sans-serif;
    font-size: $font-md;
    color: $color3;

 

    &.noscroll{
        overflow: hidden;
    }
}
h1, h2, h3{
    margin-top: 0;
}
a, a:visited, a:hover{
    text-decoration: none;
}

//spacing
.container {
    max-width: 69.375rem;
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right:  1.5rem;
}
.flex{
    display: flex ;
    &-jc-sb{ 
        justify-content: space-between;
    }
    &-jc-c{
        justify-content: center;
    }
    &-ai-c{
        align-items: center;
    }
}

// Buttons

button.contact{
    padding: 0.625rem 1.625rem;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    color: $color1;
    background-color: $color2;
    font-weight:  500;
    font-family:  $font-fam;
    font-size: 0.8125rem;
}
button.view{
    padding: 0.625rem 1.625rem;
    border-radius: 6px;
    cursor: pointer;
    color: $color2;
    background-color: $color1;
    font-weight:  400;
    font-family:  $font-fam;
    font-size: 0.8125rem;
    border: 1px solid $color2;
}



// Visibility
// Hide for tablets and mobile devices
.hide-for-mobile{
   @include breakpoint-down(medium){
    display: none;
   }
}
  // Hide for Desktop
.hide-for-desktop{
    @include breakpoint-up(large){
        display: none;
       }
}


