.header{

    // Open Hambugger Style
&.open {
  
    .header__toggle{ 
        > span:first-child{
        transform: rotate(45deg);
    }
    > span:nth-child(2){
        opacity: 0;
    }
    > span:last-child{
        transform: rotate(-45deg);
    }
    }
}
.overlay{
        opacity: 0;
        position: fixed;
        top: 5.625rem;
        right: 0;
        left: 0;
        bottom: 0;
        background: linear-gradient($color4, $color2 );
}

    nav{
        padding-top: 1.6255rem;
        padding-bottom:  1.625rem;
        border-bottom: 0.04375rem solid $color4;
    }


    &__logo{
    font-family: $font-fam;
    font-size: 1.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: $color2;
    }
    // Mobile Toggle
    &__toggle{
        > span{
            display: block;
            width: 26px;
            height: 2px;
            background-color: $color3;
            transition: all 300ms ease-in-out;
            transform-origin: 3px 1px;


        &:not(:last-child){
            margin-bottom: 3px;
        }
    }  
    }


    &__menu{
        background-color: $color1;
        padding: 1.625rem;
        border-radius: 5px;
        position: absolute;
        width: calc(100% - 5rem);
        left: 50%;
        transform: translateX(-50%);
        margin-top: 1.5rem;
        a{
            color: $color3;
            padding: 0.625rem;
            display: block;
            text-align: center;
        }
    
    }

    &__links{
        a{
            position: relative;
         font-size: $font-md; 
         color: $color3;  
         transition:  color 200ms ease-in-out;

            &:not(:last-child){
                margin-right: 42px;
            }
            &:hover{
                color: $color2;
            }
        }
    }

}


