// Colors

$color1: #FFFFFF;
$color2: #1090CB;
$color3: #000;
$color4: #C4C4C4;

// Font sizes
$font-sm: 0.875rem;  // 14px 
$font-md: 1.125rem;  // 18px


// Font family 

$font-fam: 'Poppins', sans-serif;