// Colors

$color1: #FFFFFF;
$color2: #1090CB;
$color3: #000;
$color4: #c4c4c4;
$color5:  #1090cb1a;
$color6: #5C5C5C;

// Font sizes
$font-sm: 0.875rem;  // 14px 
$font-md: 1.125rem;  // 18px
$font-lg: 1.25rem;
$font-xlg: 3.25rem;

// Font family 

$font-fam: 'Poppins', sans-serif;