@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}
.fade-in {
  animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    opacity: 0;
  }
}
.fade-out {
  display: none;
  animation: fade-out 400ms ease-in-out forwards;
}

.has-fade {
  visibility: hidden;
}

.phase {
  background-image: url("/assets/Vector4.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 50%;
  min-height: 17.5rem;
  display: block;
}
@media (min-width: 64em) {
  .phase__Hero {
    display: flex;
    flex: 1;
  }
}
.phase__text {
  font-size: 1.125rem;
  margin-top: 4rem;
  margin-left: 2rem;
}
@media (min-width: 64em) {
  .phase__text {
    font-size: 1.25rem;
  }
}
.phase__text h1 {
  color: #000;
  font-family: "$font-fam";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%; /* 51px */
}
.phase__text h1 span {
  color: #1090CB;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 170%; /* 51px */
}
.phase__img {
  align-items: center;
  justify-content: center;
  height: 100%;
}
@media (min-width: 64em) {
  .phase__img {
    height: 30rem;
    width: 50%;
  }
}

.Card {
  padding: 9rem;
  display: flex;
  justify-content: center;
}
.Card__rect {
  width: 472px;
  height: 350px;
  flex-shrink: 0;
  margin: 1rem;
  border-radius: 20px;
  background: #f4f4f4;
  padding: 2rem 2rem;
  text-align: center;
  justify-content: center;
}
.Card__rect1 {
  border-radius: 20px;
  background: #1090CB;
  color: #FFFFFF;
  background-image: url("/assets/BellAngle.png");
  background-repeat: no-repeat;
  background-position: right top;
}

html {
  font-size: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  line-height: 1.3;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  color: #000;
}
body.noscroll {
  overflow: hidden;
}

h1, h2, h3 {
  margin-top: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
}

.container {
  max-width: 69.375rem;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.flex {
  display: flex;
}
.flex-jc-sb {
  justify-content: space-between;
}
.flex-jc-c {
  justify-content: center;
}
.flex-ai-c {
  align-items: center;
}

button {
  padding: 0.625rem 1.625rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 0.8125rem;
  transition: all 0.3s ease-out;
}

button.contact {
  color: #FFFFFF;
  background-color: #1090CB;
}

button.view {
  color: #1090CB;
  background-color: #FFFFFF;
  border: 1px solid #1090CB;
}

button.contact:hover {
  transition: all 0.3s ease-out;
  color: #1090CB;
  background-color: #FFFFFF;
  border: 1px solid #1090CB;
}

button.view:hover {
  transition: all 0.3s ease-out;
  color: #FFFFFF;
  background-color: #1090CB;
  border: 1px solid #FFFFFF;
}

@media (max-width: 63em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header.open .header__toggle > span:first-child {
  transform: rotate(45deg);
}
.header.open .header__toggle > span:nth-child(2) {
  opacity: 0;
}
.header.open .header__toggle > span:last-child {
  transform: rotate(-45deg);
}
.header .overlay {
  opacity: 0;
  position: fixed;
  top: 0rem;
  right: 0;
  left: 0;
  bottom: 0;
  background: transparent;
}
.header nav {
  position: relative;
  background-color: #FFFFFF;
  padding-top: 1.6255rem;
  padding-bottom: 1.625rem;
  border-bottom: 0.04375rem solid #c4c4c4;
}
.header__logo {
  font-family: "Poppins", sans-serif;
  font-size: 1.8125rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  color: #1090CB;
  transition: 200ms;
}
.header__toggle > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #000;
  transition: all 300ms ease-in-out;
  transform-origin: 3px 1px;
}
.header__toggle > span:not(:last-child) {
  margin-bottom: 3px;
}
.header__menu {
  background-color: #1090CB;
  padding: 1.625rem;
  border-radius: 5px;
  position: absolute;
  width: calc(100% - 7rem);
  left: 50%;
  transform: translateX(-50%);
  margin-top: 1.5rem;
}
.header__menu a {
  color: #000;
  padding: 0.6235rem;
  display: block;
  text-align: left;
}
.header__menu a:hover {
  color: #FFFFFF;
}
.header__links a {
  position: relative;
  font-size: 1.125rem;
  color: #000;
  transition: color 200ms ease-in-out;
}
.header__links a:not(:last-child) {
  margin-right: 42px;
}
.header__links a:hover {
  color: #1090CB;
  border-radius: 4px;
}

.hero {
  background: rgba(16, 144, 203, 0.1019607843);
}
@media (min-width: 64em) {
  .hero {
    display: flex;
    align-items: center;
  }
}
.hero__img {
  background-image: url("/assets/Ellipse1.svg");
  background-size: 52%;
  background-repeat: no-repeat;
  background-position: right;
  min-height: 17.5rem;
  position: relative;
}
@media (min-width: 64em) {
  .hero__img {
    flex: 3;
    order: 2;
    height: 41rem;
    margin-top: -10rem;
    margin-bottom: 2rem;
    background-image: url("/assets/Ellipse1.svg");
    background-position: right center;
  }
}
.hero__img::before {
  content: " ";
  height: 100%;
  width: 100%;
  background-image: url("/assets/Billusinglaptop1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}
.hero__text {
  text-align: center;
  margin-bottom: 3rem;
}
@media (min-width: 64em) {
  .hero__text {
    flex: 2;
    order: 1;
    margin-bottom: 1.5rem;
  }
}
.hero__text h1 {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 1.5rem;
}
@media (min-width: 64em) {
  .hero__text h1 {
    font-size: 3.25rem;
  }
}
.hero__text h1 span {
  color: #1090CB;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.hero__text p {
  color: #5C5C5C;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 204.3%; /* 32.688px */
  margin-bottom: 2.25rem;
}

.abt {
  background-color: #FFFFFF;
  text-align: center;
  margin-bottom: 3rem;
}
@media (min-width: 64em) {
  .abt {
    flex: 2;
    order: 1;
    margin: 1.5rem;
  }
}
.abt h1 {
  color: #000;
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 1.5rem;
}
@media (min-width: 64em) {
  .abt h1 {
    font-size: 3.25rem;
  }
}
.abt h1 span {
  color: #1090CB;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.abt p {
  color: #c4c4c4;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 204.3%; /* 32.688px */
  margin-bottom: 2.25rem;
}/*# sourceMappingURL=style.css.map */